# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

FullCalendar limitations (w/o Premium):
    - Might not be able to do tasks

FullCalendar (+):
    - External event dragging
    - Able to set specific times 
    - Different Themes (Litera, Lux Sketchy, Sandstone, FullCal Default  DARK THEME: Slate, Solar, Superhero
    - ⭐Background Events (Potentially a way to block off certain days or time frames when system puts events into days for you)